body {
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace ;
    color: azure;
}

progress::-webkit-progress-bar {
    background-color: #eeeeee;
}

progress::-webkit-progress-value {
    background-color: #797979 !important;
}

.center {
    margin-top: 5px;
    text-align: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
    animation-name: animatetop;
	animation-duration: 0.5s;
}
.modal-content {
	background-color: azure;
	margin: 1% auto;
	padding: 10px;
	border: 1px solid #888;
	width: 85%;
	box-shadow: 0px 0px 10px #777777;
}

.upgrades {
    display: non;
    width: 80%;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.amount-btn {
    background-color: azure;
    font-size: large;
    font-family: 'Courier New', Courier, monospace ;
    color: #303030;
    height: 35px;
    width: 58px;
}

.frame-upgrade{
    height: 35px; 
    width: 420px; 
    position: relative;
    background-color: #303030;
    margin-top: 2%;
}

.click-btn {
    background-color: #303030;
    font-size: large;
    font-family: 'Courier New', Courier, monospace ;
    color: azure;
    height: 35px;
}

.menu-btn {
    background-color: #303030;
    font-size: large;
    font-family: 'Courier New', Courier, monospace ;
    color: azure;
    height: 35px;
    width: 15%;
    margin-left: 20px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #666666;
  color: #b4b4b4;
}

.storage {
    background-color: #303030;
    height: 20px;
    width: 300px;
}

.row {
    display: flex;
    position: relative;
  }

@keyframes animatetop {
    from {top: -300; opacity: 0}
    to {top: 0; opacity: 1}
}
